.main-header {
  height: 3.2rem;
  background-color: rgb(107, 157, 21);
  padding: 0 1.5rem;
  width: 100%;
}

.header {
  display: flex;
  overflow-y: scroll;
  height: 100%;
  align-items: center;
}

.main-header__item {
  margin: 0 0.5rem;
  text-decoration: none;
  color: white;
}

.main-header__item span:hover,
.active {
  color: red;
}
